<div class="navbar-item">
  <%= link("Create New Search", to: job_searches_path(@conn, :new), class: "button is-primary") %>
</div>
<div class="navbar-item">
  <!-- a href={logoutPath} class="button is-light">Logout</a> -->
</div>