$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import "~bulma/bulma.sass";

$color-white: #ffffff;

$xsmall-spacing: 0.25rem;
$small-spacing: 0.6rem;
$medium-spacing: 1rem;
$base-spacing: 1.25rem;
$large-spacing: 1.6rem;
$larger-spacing: 2rem;
$navbar-height: 3.25rem;

.hidden {
  display: none;
}

.input-error-message {
  @extend .help;

  color: $red;
  display: none;

  &.has-error {
    display: block;
  }
}

.input {
  &.has-error {
    @extend .input.is-danger;
  }
}

.modal-background {
  background: $color-white;
}

.step {
  display: none;

  &.active {
    display: block;
  }
}

.fas {
  &::before {
    font-family: "FontAwesome";
  }
}

.file-filename {
  margin-left: $base-spacing;
}

.modal {
  margin-top: 52px;
}

.hero.is-fullheight {
  min-height: calc(100vh - $navbar-height);
}

$spacings: (
  1: $xsmall-spacing,
  2: $small-spacing,
  3: $medium-spacing,
  4: $base-spacing,
  5: $large-spacing,
  6: $larger-spacing
);
$directions: (t: top, b: bottom, l: left, r: right);

@each $i, $spacing-val in $spacings {
  .m-#{$i} {
    margin: $spacing-val;
  }

  .p-#{$i} {
    padding: $spacing-val;
  }
  
  @each $direction-initial, $direction in $directions {
    .m-#{$direction-initial}-#{$i} {
      margin-#{$direction}: $spacing-val;
    }

    .p-#{$direction-initial}-#{$i} {
      padding-#{$direction}: $spacing-val;
    }
  }
}

@import "components/components";