<%= form_for @changeset, @path, fn f -> %>
  <%= FormView.text_field(f, :name) %>
  <%= FormView.text_field(f, :email) %>
  <%= FormView.password_field(f, :password) %>

  <%= submit "Submit", class: "button is-primary" %>
<% end %>
