<section class="section">
  <div class="container">
    <ul class="listings--list">
      <%= for listing <- @listings.entries do %>
        <%= render("_listing.html", listing: listing, toggled: listing.id in @toggled_listings) %>
      <% end %>
    </ul>

    <%= Pagination.pagination_links(@listings) %>
  </div>
</section>